body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

.top {
  background-color: #000000;
  height: 12vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.bar {
  background-color: #888888;
  height: 9vh;
  margin: 0px;
  padding: 0px;
  width: 46vw;
}

.theme {
  background-color: #888888;
  height: min(9vh, 9vw);
  margin: 0px;
  padding: 0px;
  width: min(9vh, 9vw);
}

.refresh {
  background-color: #888888;
  height: min(9vh, 9vw);
  margin: 0px;
  padding: 0px;
  width: min(9vh, 9vw);
}

.back {
  background-color: #888888;
  height: min(9vh, 9vw);
  margin: 0px;
  padding: 0px;
  width: min(9vh, 9vw);
}

.forward {
  background-color: #888888;
  height: min(9vh, 9vw);
  margin: 0px;
  padding: 0px;
  width: min(9vh, 9vw);
}

.screen {
  background-color: #000000;
  height: 88vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
